<!--<h1>About us</h1>
<p>We are working on our One Month Rails Pinteresting app</p> -->

<div class="jumbotron">
	<h1>About Us</h1>
<p> I am currently working on my first web app.  I have zero experience in coding, except for when I took BASIC computer language back in the third grade in 1981 (When "Hello, World!" was king).  Currently, I'm a Command Center technician for a point of sales company, and wanted to learn the various forms of coding (Python, Perl, Ruby, etc), so I can support and deploy *nix systems for developers.  I thought this class would help me learn the basics of modern coding so I can do just that.  </p>
<p> I am a terrible visual designer.  As you can see, if I were to design a website, it would be boring and all the same color.  So I hope this class will at least teach me the back end of basic web programming, so I can provide adequate support.  I am excited and am confident my skills will be pushed just a little bit further. </p>
<p> Sincerely,</p>
<p> @neilinaz</p>
</div>